<div id="page-wrap">
    
  <p [froalaView]="personalDetails.image"  id="pic">{{personalDetails.image}}</p>

  <div id="contact-info" class="vcard">
  
      <!-- Microformats! -->
  
      <h1 class="fn" [froalaView]="personalDetails.name">{{personalDetails.name}}</h1>
  
      <p>
          Phone No: <span class="tel" [froalaView]="personalDetails.phoneNo">{{personalDetails.phoneNo}}</span>
          Email: <a class="email" href="mailto:greatoldone@lovecraft.com" [froalaView]="personalDetails.email">{{personalDetails.email}}</a>
      </p>
      <p *ngFor="let newField of newFields,let i=index">
            <a [froalaView]="newFields[i].fieldName">{{newFields[i].fieldName}}</a>
            <span class="tel" [froalaView]="newFields[i].fieldInfo">{{newFields[i].fieldInfo}}</span>
          </p>
  </div>
  
  <div class="clear"></div>
  
  <dl>
      <dd class="clear"></dd>
      
      <dt>Education</dt>
      <dd *ngFor="let education of educationDetails;let i=index">
        <h2 [froalaView]="educationDetails[i].Qualification">{{educationDetails[i].Qualification}}</h2>
           <p [froalaView]="educationDetails[i].schoolName">{{educationDetails[i].schoolName}}</p>
           <p [froalaView]="educationDetails[i].Marks">{{educationDetails[i].Marks}}</p>
      </dd>
      
      <dd class="clear"></dd>
      
      <dt>Skills</dt>
      <dd *ngFor="let skill of skills;let i=index">
          <h4 [froalaView]="skills[i].name"> {{skills[i].name}}</h4>
         
      </dd>
      
      <dd class="clear"></dd>
      
      <dt>Experience</dt>
      <dd *ngFor="let experience of experiences;let i=index">
          <h2 [froalaView]="experiences[i].designation">{{experiences[i].designation}} </h2>
          <span [froalaView]="experiences[i].company">{{experiences[i].company}}</span><br>
          <span [froalaView]="experiences[i].duration">{{experiences[i].duration}}</span>
          <p [froalaView]="experiences[i].details">
              {{experiences[i].details}}
          </p>
      </dd>
      
      <dd class="clear"></dd>

      <div *ngIf="links.activateHobbies==1">
            <dt>Hobbies</dt>
            <dd *ngFor="let hobby of hobbies;let i=index" [froalaView]="hobbies[i]">{{hobbies[i]}}</dd>
      </div>
      <dd class="clear"></dd>

      <div *ngIf="links.activateInterests==1">
            <dt>Interests</dt>
            <dd *ngFor="let interest of interests;let i=index" [froalaView]="interests[i]">{{interests[i]}}</dd>
      </div>
      <dd class="clear"></dd>

      <div *ngIf="links.activateCertificates==1">
            <dt>Certificates</dt>
            <dd *ngFor="let certificate of certificates;let i=index" [froalaView]="certificates[i]">{{certificates[i]}}</dd>
      </div>
      <dd class="clear"></dd>

      <div *ngIf="links.activateLanguages==1">
            <dt>Languages</dt>
            <dd *ngFor="let language of languages;let i=index" [froalaView]="languages[i]">{{languages[i]}}</dd>
      </div>
      <dd class="clear"></dd>

  </dl>
  
  <div class="clear"></div>
  <div class="footer">
        <button class="btn btn-primary" (click)="onBackPage()">Back To Editor</button>
        <button type="button" (click)="downloadPDF()" class="btn btn-primary">Download Pdf </button>
</div>
</div>
