
<html lang="en">
    <head>
    
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <style>
    
    .jumbotron {
     
      background-image:url("../assets/resume.jpg");
      background-repeat: no-repeat;
        padding: 100px 25px;
        height: 820px;
        text-align: center;
        align-content: center;
        background-size: cover;
    }
    .button
    {
      padding: 360px 400px;
        text-align: center;
        font-size: 60px;
    }
    .container-fluid {
        padding: 20px 20px;
    }
      </style>
    </head>
    <body>
      
      <div class="container-fluid">
        
    <div class="jumbotron">
      <br><br><br><br><br><br><br><br><br><br><br>
      <button type="button" class="btn btn-danger btn-lg" (click)="onSuccess()">BUILD YOUR RESUME </button>
    </div>
    </div>
    </body>
    </html>
    